
body {
  background-color: #fdf6f1;
  font-family: "Lato", sans-serif;
}

.page-container {
  max-width: 2000px;
  margin-top: 46px;
}


.nav-bg {
  background-color: #d4552d !important; 
  color: white;
}

.small-nav {
  margin-top: 46px;
}


.slide-img {
  width: 100%;
}

.slide-caption {
  position: absolute;
  bottom: 32px;
  width: 100%;
  text-align: center;
  color: white;
}

.cuisine-img {
  width: 60%;
  margin-bottom: 16px;
}

.section-img {
  width: 100%;
}


.section {
  padding: 64px 0;
  max-width: 800px;
}


.dishes-row {
  margin: 0 -16px;
}

.dish-img {
  width: 100%;
  transition: 0.3s;
}

.dish-img:hover {
  opacity: 0.8;
}


.modal-header {
  background-color: #d4552d;
  color: white;
  text-align: center;
  padding: 32px;
}

.close-btn {
  color: white;
}


.two-inputs {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}


.icon {
  width: 30px;
}

/* Footer */
.footer {
  padding: 64px;
}
.cuisine-img {
    width: 100%;
    height: 250px;     
    object-fit: cover; 
    border-radius: 10px;
}

